* {
  margin: 0;
  padding: 0;
}
.first {
  height: 500px;
  background: url(https://s3.ap-south-1.amazonaws.com/prodo-files-upload/files/df48221e-53cf-4a2b-b00c-40d31eae7873-supplyChain.jpg)
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.first h2 {
  width: 72%;
  font-size: 2rem;
  font-family: "Heebo", sans-serif;
  text-align: left;
}
.first p {
  width: 80%;
  font-weight: 500;
  font-size: 20px;
}
#supplyChain {
  width: 50%;
  padding: 20px;
  margin: 20px;
}
.supplyChain img {
  width: 40px;
}
#form {
  border-style: none;
  border-radius: 8px;
  width: 334px;
  background-color: rgb(252, 251, 251);
  padding: 26px;
  margin: 15px;
  height: 345px;
  margin-top: 118px;
  display: flex;
  flex-direction: column;
}
.btn {
  height: 40px;
}
#form h1 {
  font-size: 1.6rem;
  padding-top: 0%;
}
#form-box {
  margin: 10px 0px;
  font-size: 0.8rem;
}
#form-box input,
#form-box textarea {
  border: 0.5px solid rgb(219, 213, 213);
  background-color: white;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 100;
  opacity: 0.6;
  width: 90%;
  padding: 5px;
  margin-bottom: 6px;
}
#form label {
  font-size: 1rem;
}
#form button {
  display: flex;
  font-weight: 700;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 95%;
  border-radius: 10px;
  background-color: rgb(40, 188, 188);
  padding: 15px;
}
.form-group {
  overflow: hidden;
}
.form-group .align1,
.form-group .align2 {
  width: 49%;
}
.form-group .align1 {
  float: left;
}
.form-group .align2 {
  float: right;
}
.form-group label {
  display: block;
}
/* services section */
#services {
  margin: 34px;
  display: flex;
  text-align: center;
  justify-content: center;
}

#services .box {
  width: 48%;
  border: 2px solid black;
  padding: 14px;
  margin: 2px 6px;
  border-radius: 28px;
  background-color: aliceblue;
}

#services .box .img {
  height: 170px;
  display: block;
  margin: auto;
}
.second {
  margin-top: 272px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second h1 {
  font-size: 2rem;
  margin-top: 68px;
}
.second h2 {
  width: 800px;
  font-weight: 400;
}
.second h3 {
  font-size: 0.9rem;
}
.second p {
  font-size: 0.8rem;
}
.third {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.third h1 {
  margin-top: 100px;
  font-size: 2.3rem;
}
.third h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  width: 600px;
}
#required {
  width: 80%;
  margin-top: 34px;
  margin-left: 80px;
  margin-right: 130px;
  display: flex;
  text-align: center;
  justify-content: center;
}
#required .box {
  width: 20%;
  padding: 15px;
  margin: 2px 24px;
  box-shadow: 0 6px 6px -6px rgb(74, 73, 73);
}
.boxx {
  margin: 42px;
  width: 450px;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxx span {
  font-weight: 600;
}
.boxx p {
  padding-top: 30px;
  padding: 23px;
  border: 3px solid rgb(233, 129, 214);
  border-radius: 20px;
  height: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-style: italic;
}
.boxx img {
  margin-top: 10px;
}

.upper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.upper img {
  padding: 10px;
  width: 3%;
  margin-left: 40px;
}
.upper a {
  margin-right: 115px;
}

.upper .box3 img {
  padding: 10px;
  width: 14%;
  margin-left: 30px;
}
.lower {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.lower .box3 img {
  padding: 10px;
  width: 14%;
  margin-left: 30px;
}
.lower .box3 a {
  margin-right: 85px;
}
.box3 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 30%;
}
.four h1 {
  margin-top: 90px;
  font-size: 2rem;
}
.four {
  width: 1141px;
  margin-left: 90px;
}
.four a {
  font-weight: 400;
  font-family: "Heebo", sans-serif;
}
.five h3 {
  margin-top: 155px;
  font-size: 0.8rem;
}
.five h1 {
  font-size: 2.3rem;
}
#accordion {
  margin: 35px auto;
  width: 1000px;
}

#accordion li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  border-bottom: dashed;
  border-color: rgb(219, 216, 216);
}

#accordion li label {
  font-family: "Heebo", sans-serif;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 4px;
  margin: 4px;
  color: black;
}

#accordion li label span {
  transform: rotate(90deg);
  font-size: 22px;
}
#accordion label + input[type="radio"] {
  display: none;
}
#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}
.six {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn2 {
  border-radius: 20px;
  padding: 5px;
  color: rgb(82, 159, 159);
  background-color: white;
  border: none;
  width: 240px;
  height: 40px;
  font-weight: bold;
}

.six h1 {
  margin-top: 30px;
  margin-bottom: 4px;
  color: white;
  font-size: 2rem;
}

.six p {
  padding: 6px;
  width: 400px;
  margin: 8px;
  margin-bottom: 16px;
  color: white;
}

.six {
  background-color: rgb(19, 193, 193);
  height: 300px;
  margin-bottom: 80px;
}
.h-primary {
  font-size: 1.5rem;
  padding: 12px;
}
.h-secondary {
  font-size: 1.1rem;
  padding: 12px;
}
.center {
  text-align: center;
}
.quote {
  width: 30px;
  top: -30px;
  position: relative;
}
